.flappy-view {
  border: 10px solid black;
  display: inline-block;
}

.row {
  float: left;
}
.cell {
  width: 10px;
  height:10px;
  border: 0px solid #eee;
}
.pig {
  background: pink;
  /*border-radius: 10px;*/
}
.obstacle {
  background: green;
}
