@font-face {
    font-family: 'flappy';
    src: url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/flappy-webfont.eot');
    src: url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/flappy-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/flappy-webfont.woff2') format('woff2'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/flappy-webfont.woff') format('woff'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/flappy-webfont.ttf') format('truetype'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/flappy-webfont.svg#04b_19regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Silk';
    src: url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/Pixel/slkscr-webfont.eot');
    src: url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/Pixel/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/Pixel/slkscr-webfont.woff2') format('woff2'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/Pixel/slkscr-webfont.woff') format('woff'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/Pixel/slkscr-webfont.ttf') format('truetype'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/Pixel/slkscr-webfont.svg#silkscreennormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Silk-Expanded';
    src: url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/Pixel/slkscre-webfont.eot');
    src: url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/Pixel/slkscre-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/Pixel/slkscre-webfont.woff2') format('woff2'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/Pixel/slkscre-webfont.woff') format('woff'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/Pixel/slkscre-webfont.ttf') format('truetype'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/Pixel/slkscre-webfont.svg#silkscreen_expandednormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

.preload {
  position: absolute;
  left: -10000;
  top: -10000;
}
.font-flappy {
  font: 12px 'flappy';
}
.container {
  width: 480px;
  height: 640px;
}

.flappy-view {
  border: 3px solid #543646;
  display: inline-block;
  width: 100%;
  position: relative;
  top: -10px;
  left: -10px;
}

.row {
  float: left;
}
.cell {
  width: 10px;
  height:10px;
  border: 0px solid #eee;
}
.pig {
  background: pink;
  /*border-radius: 10px;*/
}
.obstacle {
  background: green;
}
