@font-face {
    font-family: 'flappy';
    src: url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/flappy-webfont.eot');
    src: url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/flappy-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/flappy-webfont.woff2') format('woff2'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/flappy-webfont.woff') format('woff'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/flappy-webfont.ttf') format('truetype'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/flappy-webfont.svg#04b_19regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.container {
  /*background-image: url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/bg.png');*/
  background-size: 480px;
}

.flappy-view {
  border: 3px solid #543646;
  display: inline-block;
  width: 100%;
  position: relative;
  top: -10px;
  left: -10px;
}

.row {
  float: left;
}
.cell {
  width: 10px;
  height:10px;
  border: 0px solid #eee;
}
.pig {
  background: pink;
  /*border-radius: 10px;*/
}
.obstacle {
  background: green;
}
