<form action="<%= users_scores_url %>" method="post" class="leaderboard">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="text" name="leaderboard[name]" id="leaderboard-name" placeholder="Click to add your name!">
  <input type="hidden" name="leaderboard[score]" id="leaderboard-score">

  <input type="Submit" class="submit-button" value="">
</form>


<script type="text/javascript">

  $('#leaderboard-name').click(function () {
    $('.submit-button').show();
  });


  $('.leaderboard').on('submit', function(event) {
    event.preventDefault();
    $('.submit-button').prop('disabled', true);
    var formData = $(event.currentTarget).serializeJSON();

    $.ajax({
      type: "POST",
      url: "/users_scores",
      dataType: "json",
      data: formData,
      success: function (response) {
        // console.log("successful");
        $('.errors').html("");
        $('.leaderboard').hide();
        handleSuccess(response);
      },
      error: function (response) {
        $('.errors').html(response.responseJSON[0]);
        $('.submit-button').prop("disabled", false);
      }
    })
  })

  function handleSuccess (response) {
    $('.submit-button').prop("disabled", false);

    $('.leaderboard-name').append($('<li>').html(response.name));


    var score;

    if (String(response.score).length === 3) {
      score = "0" + String(response.score);
    } else if (String(response.score).length === 2) {
      score = "00" + String(response.score);
    } else if (String(response.score).length === 1) {
      score = "000" + String(response.score);
    }

    $('.leaderboard-score').append($('<li>').html(score));
  };
</script>
