<link href='https://fonts.googleapis.com/css?family=Monofett' rel='stylesheet' type='text/css'>

<div class="preload">
  <img src="https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/landing.gif">
  <img src="https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/bg_1.gif">
  <img src="https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/bg_bar.gif">
  <img src="https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/pig.png">
  <img src="https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/pig_fly.png">
  <img src="https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/pig_fly_down.png">
  <img src="https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/pig_fall.png">
  <img src="https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/pipe_top.png">
  <img src="https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/pipe_bottom.png">
  <img src="https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/score_board.png">
  <img src="https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/leaderboard.gif">
  <img src="https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/bg_gameover.gif">
  <img src="https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/add_button_raised.gif">
  <img src="https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/add_button_pressed.gif">
  <img src="https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/button_restart_raised.gif">
  <img src="https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/button_restart_pressed.gif">
  <img src="https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/new_pig_variations2.gif">
  <div class="font-flappy">Preload</div>
  <div class="font-silk">Preload</div>
</div>

<div class="container">
  <div class="errors"></div>
  <canvas class="flappy-view"></canvas>


  <%= render "leaderboard_form" %>



  <div class="leaderboard-container">
    <ul class="leaderboard-name">
      <% @users_scores.each do |user| %>
        <li><%= user.name %></li>
      <% end %>
    </ul>
    <ul class="leaderboard-score">
      <% @users_scores.each do |user| %>
        <li><%= (user.score.to_s).rjust(4, '0')  %></li>
      <% end %>
    </ul>
  </div>

  <div class="your-score"></div>
  <div class="restart-game"></div>
</div>



<script type="text/javascript">


    var canvasEl = document.getElementsByTagName("canvas")[0];
    canvasEl.height = 1024;
    canvasEl.width = 768;

    new FlappyPig.Game(
      canvasEl
    );
</script>
