@font-face {
    font-family: 'flappy';
    src: url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/flappy-webfont.eot');
    src: url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/flappy-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/flappy-webfont.woff2') format('woff2'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/flappy-webfont.woff') format('woff'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/flappy-webfont.ttf') format('truetype'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/flappy-webfont.svg#04b_19regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Silk';
    src: url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/Pixel/slkscr-webfont.eot');
    src: url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/Pixel/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/Pixel/slkscr-webfont.woff2') format('woff2'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/Pixel/slkscr-webfont.woff') format('woff'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/Pixel/slkscr-webfont.ttf') format('truetype'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/Pixel/slkscr-webfont.svg#silkscreennormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Silk-Expanded';
    src: url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/Pixel/slkscre-webfont.eot');
    src: url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/Pixel/slkscre-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/Pixel/slkscre-webfont.woff2') format('woff2'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/Pixel/slkscre-webfont.woff') format('woff'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/Pixel/slkscre-webfont.ttf') format('truetype'),
         url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/font/Pixel/slkscre-webfont.svg#silkscreen_expandednormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  overflow: hidden;
  background: #7cd6df;
}

.bg-image {
  background-image: url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/bg_image.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

}
.iphone-image {
  background-image: url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/iphone.png');
  background-size: 100%;
  height: 625px;
  width: 382px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -313px;
  margin-left: -191px;

}
.preload {
  position: absolute;
  left: 0;
  top: 0;
  width: 0px;
  height: 0px;
  overflow: hidden;
}
.font-flappy {
  font: 12px 'flappy';
}
.font-silk {
  font: 12px 'Silk';
}
.container {
  width: 320px;
  height: 426px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -219px;
  margin-left: -152px;
}

.flappy-view {
  display: block;
  width: 100%;
  position: relative;
}

.row {
  float: left;
}
.cell {
  width: 10px;
  height:10px;
  border: 0px solid #eee;
}
.pig {
  background: pink;
  /*border-radius: 10px;*/
}
.obstacle {
  background: green;
}


footer {
  font: 9px sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
