
.leaderboard-container, .your-score {
  font: 13px 'Silk';
  color: #fff;
  text-shadow: 0px 1px #d4a559;
  line-height: 15.1px;
  position: absolute;
  top: 188px;
  left: 160px;
  -webkit-font-smoothing: none;
}

.your-score {
  position: absolute;
  top: 419px;
  left: 230px;
}

.add-your-score {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 422px;
  left: 290px;
  background-image: url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/add_button_raised.gif');
  background-size: 35px;
  &:hover {
    background-image: url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/add_button_pressed.gif');
  }
}

.restart-game {
  width: 119px;
  height: 39px;
  position: absolute;
  top: 480px;
  left: 184px;
  background-image: url("https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/button_restart_raised.gif");
  background-size: 119px;
  &:hover {
    background-image: url('https://dl.dropboxusercontent.com/u/2330299/capstone/flappy_pig/button_restart_pressed.gif');
  }
}

.leaderboard-container {
  ul.leaderboard-name {
    list-style-type: none;
    float: left;
    padding: 0;
    width: 110px;
    overflow: hidden;
  }
  ul.leaderboard-score {
    list-style-type: none;
    float: left;
    padding: 0;
    margin-left: 12px;
    width: 45px;
    text-align: right;
  }
}

form.leaderboard {
  input {
    font: 16px 'Silk';
    border: 0;

    &:focus {
      outline: 0;
    }
    &#leaderboard-name {
      position: absolute;
      top: 504px;
      left: 120px;
      width: 160px;
      padding: 0px 15px;
      background-color: transparent;
    }
  }

}
