.leaderboard-container {
  font: 16px 'Silk';
  color: #e86101;
  text-shadow: 0px 2px #f0eaa1;
  line-height: 30px;
  position: absolute;
  top: 335px;
  left: 91px;
  ul.leaderboard-name {
    list-style-type: none;
    float: left;
  }
  ul.leaderboard-score {
    list-style-type: none;
    float: left;
  }
}
